@page "/"
@using System.Net.ServerSentEvents
@using System.Text.Json
@using UTB.School.Contracts
@implements IAsyncDisposable
@inject IHttpClientFactory ClientFactory

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if(!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}
else if (!string.IsNullOrWhiteSpace(message))
{
    <p>@message</p>
}


Welcome to your new app.

@code {

    private CancellationTokenSource cts = new();
    private string? errorMessage;
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("webapi");

        try
        {
            using var response = await client.GetAsync("/stream", HttpCompletionOption.ResponseHeadersRead, cts.Token);

            response.EnsureSuccessStatusCode();

            using var stream = await response.Content.ReadAsStreamAsync(cts.Token);

            SseParser<string> parser = SseParser.Create(stream);

            await foreach (SseItem<string> sseEvent in parser.EnumerateAsync(cts.Token))
            {
                if (sseEvent.EventType == "init")
                {
                    continue;
                }

                StudentDto? student = JsonSerializer.Deserialize<StudentDto>(sseEvent.Data, new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });

                if (student is null)
                {
                    continue;
                }

                message = student.Name;

                await InvokeAsync(StateHasChanged);
            }
        }
        catch (HttpRequestException)
        {
            errorMessage = "API is not available.";
        }
        catch (OperationCanceledException)
        {
            // Ignorovat při zavření komponenty
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        cts.Cancel();
        cts.Dispose();
    }

}
