@page "/hypoteka"

<PageTitle>Hypotéka</PageTitle>

<h1>Hypoteční kalkulačka</h1>

<div class="mb-3">
    <label class="form-label" for="vaha">Výše půjčky</label>
    <input class="form-control" step="100000" min="100000" id="vaha" @bind-value="p" @bind-value:after="SpocitejSplatku" type="number" />
</div>

<p role="status">Splátka: @splatka.ToString("F1")</p>

@code {
    private double p = 6000000.0;
    private double urokProcenta = 4.0;
    private int pocetLet = 30;
    private double splatka = 0.0;

    protected override void OnInitialized()
    {
        SpocitejSplatku();
    }

    private void SpocitejSplatku()
    {
        double r = urokProcenta / 12.0 / 100.0;
        int n = pocetLet * 12;

        // Výpočet splátky podle vzorce
    }
}
