@page "/quickgrid"
@inject HttpClient Http
@inject NavigationManager Navigation

@using Microsoft.AspNetCore.Components.QuickGrid

<h3>Students QuickGrid</h3>

<div class="grid" tabindex="-1">
    <QuickGrid ItemsProvider="gridItemsProvider" Pagination="pagination">
        <PropertyColumn Property="@(s => s.StudentId)" Title="Id" Sortable="true" />
        <PropertyColumn Property="@(s => s.Jmeno)" Title="Jmeno" Sortable="true" />
        <PropertyColumn Property="@(s => s.Studuje)" Title="Studuje" Sortable="true" />
    </QuickGrid>

    <Paginator State="pagination" />
</div>


@code {
    PaginationState pagination = new PaginationState() { ItemsPerPage = 10 };

    GridItemsProvider<Student>? gridItemsProvider;

    protected override void OnInitialized()
    {
        gridItemsProvider = async req =>
        {
            string url = $"/students/page?startIndex={req.StartIndex}&count={req.Count ?? 10}";

            var properties = req.GetSortByProperties();

            if(properties.Count > 0)
            {
                var property = properties.First();

                url += $"&sortBy={property.PropertyName}&direction={property.Direction}";
            }

            PaginationResult? result = await Http.GetFromJsonAsync<PaginationResult>(url);

            if (result is null)
            {
                return GridItemsProviderResult.From<Student>([], 0);
            }

            return GridItemsProviderResult.From(result.Students, result.Total);
        };
    }

    public record PaginationResult(Student[] Students, int Total);
}
