@page "/quickgrid"
@inject HttpClient Http
@using Microsoft.AspNetCore.Components.QuickGrid

<h3>Students QuickGrid</h3>

@if (studenti is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="studenti" Pagination="pagination">
        <PropertyColumn Property="@(s => s.StudentId)" Title="Id" Sortable="true"/>
        <PropertyColumn Property="@(s => s.Jmeno)" Title="Jmeno" Sortable="true"/>
        <PropertyColumn Property="@(s => s.Studuje)" Title="Studuje" Sortable="true"/>
    </QuickGrid>

    <Paginator State="pagination"/>
}
    
@code {
    PaginationState pagination = new PaginationState() { ItemsPerPage = 10 };
    IQueryable<Student>? studenti;

    protected override async Task OnInitializedAsync()
    {
        studenti = (await Http.GetFromJsonAsync<Student[]>("/students"))?.AsQueryable();
    }
}
