<div class="d-flex gap-3 mb-3">
    @for (int i = 0; i < Array.Length; i++)
    {
        string textColor = "text-primary";

        if(IsSorted)
        {
            textColor = "text-success";
        }
        else if (i >= HighlightFrom && i <= HighlightTo)
        {
            textColor = "text-secondary";
        }

        if (i == FirstPosition)
        {
            <div class="fs-1 @textColor border-bottom border-primary border-3">@Array[i]</div>
        }
        else if (i == SecondPosition)
        {
            <div class="fs-1 @textColor border-bottom border-secondary border-3">@Array[i]</div>
        }
        else
        {
            <div class="fs-1 @textColor">@Array[i]</div>
        }
    }

    @if (IsSorted)
    {
        <div>✅</div>
    }

</div>

@code {
    [Parameter]
    public int[] Array { get; set; } = [];

    [Parameter]
    public bool IsSorted { get; set; }

    [Parameter]
    public int FirstPosition { get; set; }

    [Parameter]
    public int SecondPosition { get; set; }

    [Parameter]
    public int HighlightFrom { get; set; }

    [Parameter]
    public int HighlightTo { get; set; }


}
