@page "/counter"

<PageTitle>Battle</PageTitle>

<h1>Battle</h1>

<Numbers Array="bubbleSort.Array" 
         IsSorted="bubbleSort.IsSorted" 
         FirstPosition="bubbleSort.CurrentIndex" 
         SecondPosition="bubbleSort.CurrentIndex + 1"
         HighlightFrom="bubbleSort.Array.Length - bubbleSort.SortedCount"
         HighlightTo="bubbleSort.Array.Length"/>

<Numbers Array="insertionSort.Array"
         IsSorted="insertionSort.IsSorted"
         FirstPosition="insertionSort.CurrentIndex"
         SecondPosition="insertionSort.ElementPosition"
         HighlightFrom="0"
         HighlightTo="insertionSort.CurrentIndex-1" />

<div class="mb-3">Prvek: @insertionSort.Element</div>
<button class="btn btn-primary" @onclick="NextIteration">Next Iteration</button>

@code {
    private BubbleSort bubbleSort = new BubbleSort();
    private InsertionSort insertionSort;

    protected override void OnInitialized()
    {
        int[] array = Tools.GenerateNumbers(9, 9);

        bubbleSort.Reset(array.ToArray());
        insertionSort = new InsertionSort(array.ToArray());
    }

    private void NextIteration()
    {
        bubbleSort.NextIteration();
        insertionSort.NextIteration();
    }
}
