@page "/counter"

<PageTitle>Battle</PageTitle>

<h1>Battle</h1>

<Numbers Array="bubbleSort.Array" 
         IsSorted="bubbleSort.IsSorted" 
         FirstPosition="bubbleSort.CurrentIndex" 
         SecondPosition="@(bubbleSort.CurrentIndex + 1)"
         HighlightFrom="bubbleSort.Array.Length - bubbleSort.SortedCount"
         HighlightTo="bubbleSort.Array.Length"/>


<button class="btn btn-primary" @onclick="NextIteration">Next Iteration</button>

@code {
    private BubbleSort bubbleSort = new BubbleSort();

    protected override void OnInitialized()
    {
        bubbleSort.Reset(Tools.GenerateNumbers(9, 9));
    }

    private void NextIteration()
    {
        bubbleSort.NextIteration();
    }
}
