@page "/counter"
@rendermode InteractiveWebAssembly

<PageTitle>Counter</PageTitle>

<h1>Kalkulator BMI</h1>

<InputNumber @bind-Value="vyskaMetry" />
<InputNumber @bind-Value="vahaKilogramy" />
<input type="number" placeholder="test" @bind="vahaKilogramy"/>
<p role="status">Bmi: @bmi</p>

<button class="btn btn-primary" @onclick="CalculateBmi">Click me</button>

@code {
    double vyskaMetry;
    double vahaKilogramy;
    double bmi;

    private void CalculateBmi()
    {
        bmi = vahaKilogramy / (vyskaMetry * vyskaMetry);
    }
}
