<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sorting</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi sort" aria-hidden="true"></span> Insertion Swap
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="insertion-move" Match="NavLinkMatch.All">
                <span class="bi sort" aria-hidden="true"></span> Insertion Move
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bubble">
                <span class="bi sort" aria-hidden="true"></span> Bubble
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="select">
                <span class="bi sort" aria-hidden="true"></span> Select
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quick">
                <span class="bi sort" aria-hidden="true"></span> Quick
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
