<div class="d-flex gap-3 mb-3">

    @for (int i = 0; i < Array.Length; i++)
    {
        if (i == FirstIndex)
        {
            <div class="fs-1 border-bottom border-primary border-3">@Array[i]</div>
        }
        else
        {
            <div class="fs-1">@Array[i]</div>
        }
    }

</div>

@code {
    [Parameter]
    public int[] Array { get; set; } = [];
    [Parameter]
    public int FirstIndex { get; set; }
}
