@page "/battle"
@using BlazorAppBattle.Algorithms
@using BlazorAppBattle.Components

<PageTitle>Code Clash: Battle of Algorithms</PageTitle>

<h1>Bubble Sort</h1>

@if(bubbleSort is not null)
{
    <Numbers Array="bubbleSort.Array" FirstIndex="bubbleSort.Index"/>
}

<button class="btn btn-primary" @onclick="NextIteration">Next Iteration</button>

@code {
    BubbleSort? bubbleSort;

    protected override void OnInitialized()
    {
        bubbleSort = new BubbleSort(Tools.Generate(9, 9));    
    }

    private void NextIteration()
    {
        bubbleSort?.NextIteration();
    }
}
