@page "/battle"
@using BlazorAppBattle.Algorithms
@using BlazorAppBattle.Components

<PageTitle>Code Clash: Battle of Algorithms</PageTitle>

<h1>Bubble Sort</h1>

@if(bubbleSort is not null)
{
    <Numbers Array="bubbleSort.Array" 
             FirstIndex="bubbleSort.Index"
             SecondIndex="bubbleSort.Index + 1"
             HighlightFrom="bubbleSort.Array.Length - bubbleSort.SortedCount"
             HighlightTo="bubbleSort.Array.Length - 1"
             IsSorted="bubbleSort.IsSorted"
             Rank="bubbleSort.Rank"
             />
}

<h1>Selection Sort</h1>

@if (selectionSort is not null)
{
    <Numbers Array="selectionSort.Array"
             FirstIndex="selectionSort.CurrentIndex"
             SecondIndex="selectionSort.ElementIndex"
             HighlightFrom="0"
             HighlightTo="selectionSort.CurrentIndex - 1"
             IsSorted="selectionSort.IsSorted"
             Rank="selectionSort.Rank" />

    <p class="fs-3">Minimum: @selectionSort.Array[selectionSort.MinIndex]</p>
}

<h1>Insertion Sort</h1>

@if (insertionSort is not null)
{

    <Numbers Array="insertionSort.Array"
             FirstIndex="insertionSort.CurrentIndex"
             SecondIndex="insertionSort.PlacementIndex"
             HighlightFrom="0"
             HighlightTo="insertionSort.CurrentIndex - 1"
             IsSorted="insertionSort.IsSorted"
             Rank="insertionSort.Rank" />

    <p class="fs-3">Number: @insertionSort.Number</p>
}

<button class="btn btn-primary" @onclick="NextIteration">Next Iteration</button>

@code {
    int rank = 1;
    BubbleSort? bubbleSort;
    SelectionSort? selectionSort;
    InsertionSort? insertionSort;

    protected override void OnInitialized()
    {
        int[] array = Tools.Generate(9, 9);

        bubbleSort = new BubbleSort(array.ToArray());    
        selectionSort = new SelectionSort(array.ToArray());
        insertionSort = new InsertionSort(array.ToArray());
    }

    private void NextIteration()
    {
        bool incrementRank = false;

        if(bubbleSort is not null)
        {
            bubbleSort.NextIteration();

            if (bubbleSort.IsSorted == true && bubbleSort.Rank == 0)
            {
                bubbleSort.Rank = rank;

                incrementRank = true;
            }
        }

        if (selectionSort is not null)
        {
            selectionSort.NextIteration();

            if (selectionSort.IsSorted == true && selectionSort.Rank == 0)
            {
                selectionSort.Rank = rank;

                incrementRank = true;
            }
        }

        if (insertionSort is not null)
        {
            insertionSort.NextIteration();

            if (insertionSort.IsSorted == true && insertionSort.Rank == 0)
            {
                insertionSort.Rank = rank;

                incrementRank = true;
            }
        }

        if(incrementRank)
        {
            ++rank;
        }

    }
}
