@page "/battle"
@using BlazorAppBattle.Algorithms
@using BlazorAppBattle.Components

<PageTitle>Code Clash: Battle of Algorithms</PageTitle>

<h1>Bubble Sort</h1>

@if(bubbleSort is not null)
{
    <Numbers Array="bubbleSort.Array" 
             FirstIndex="bubbleSort.Index"
             SecondIndex="bubbleSort.Index + 1"
             HighlightFrom="bubbleSort.Array.Length - bubbleSort.SortedCount"
             HighlightTo="bubbleSort.Array.Length - 1"
             IsSorted="bubbleSort.IsSorted"
             Rank="bubbleSort.Rank"
             />
}

<h1>Selection Sort</h1>

@if (selectionSort is not null)
{
    <Numbers Array="selectionSort.Array"
             FirstIndex="selectionSort.CurrentIndex"
             SecondIndex="selectionSort.ElementIndex"
             HighlightFrom="0"
             HighlightTo="selectionSort.CurrentIndex - 1"
             IsSorted="selectionSort.IsSorted"
             Rank="selectionSort.Rank" />
}

<button class="btn btn-primary" @onclick="NextIteration">Next Iteration</button>

@code {
    int rank = 1;
    BubbleSort? bubbleSort;
    SelectionSort? selectionSort;

    protected override void OnInitialized()
    {
        int[] array = Tools.Generate(9, 9);

        bubbleSort = new BubbleSort(array.ToArray());    
        selectionSort = new SelectionSort(array.ToArray());
    }

    private void NextIteration()
    {
        if (bubbleSort is not null && !bubbleSort.IsSorted)
        {
            bubbleSort.NextIteration();

            if(bubbleSort.IsSorted)
            {
                bubbleSort.Rank = rank;
                ++rank;
            }
        }

        if (selectionSort is not null && !selectionSort.IsSorted)
        {
            selectionSort.NextIteration();

            if (selectionSort.IsSorted)
            {
                selectionSort.Rank = rank;
                ++rank;
            }
        }
    }
}
