@page "/createstudent"
@using UTB.School.Contracts
@using UTB.School.Web.FormModels
@inject NavigationManager NavigationManager
@inject SchoolService SchoolService

@if (errorMessage is not null)
{
    <div class="alert alert-danger">@errorMessage</div>
}

<h3>Create Student</h3>

@if (Model is null)
{
    <p>Loading ... </p>
}
else
{
    <EditForm Model="Model" OnValidSubmit="Submit" FormName="createStudent">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label class="form-label" for="textName">Name</label>
            <InputText class="form-control" @bind-Value="Model.Name" id="textName"/>
        </div>

        <div class="mb-3 form-check">
            <InputCheckbox class="form-check-input" @bind-Value="Model.IsActive" id="checkboxIsActive" />
            <label class="form-check-label" for="checkboxIsActive">Is active</label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </EditForm>
}

@code {

    [SupplyParameterFromForm]
    public StudentFormModel? Model { get; set; }

    private string? errorMessage;

    protected override void OnInitialized()
    {
        Model ??= new() { Name = string.Empty, IsActive = true };
    }

    private async Task Submit()
    {
        if (Model is not null && Model.Name is not null)
        {
            try
            {
                errorMessage = null;

                StudentRequestDto requestDto = new(Model.Name, Model.IsActive);

                await SchoolService.CreateStudentAsync(requestDto);

                NavigationManager.NavigateTo("/students");
            }
            catch (HttpRequestException)
            {
                errorMessage = "API is not available";
            }
            catch (Polly.Timeout.TimeoutRejectedException)
            {
                errorMessage = "Timeout";
            }
        }
    }
}
