@page "/updates"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject SchoolService SchoolService
@implements IAsyncDisposable
@using UTB.School.Contracts

<h3>Nově přidaní studenti</h3>

@if (students.Count == 0)
{
    <p><em>Čekám na nové studenty...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jméno</th>
                <th>Aktivní</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@(student.IsActive ? "Ano" : "Ne")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<StudentDto> students = [];
    private CancellationTokenSource cts = new();

    protected override void OnInitialized()
    {
        _ = ReadMessagesAsync(cts.Token);
    }

    private async Task ReadMessagesAsync(CancellationToken ct)
    {
        try
        {
            await foreach (var student in SchoolService.StreamSseMessagesAsync(ct))
            {
                students.Add(student);

                await InvokeAsync(StateHasChanged);
            }
        }
        catch (OperationCanceledException)
        {
            // Ignorovat při zavření komponenty
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        cts.Cancel();
        cts.Dispose();
    }
}
